:root {
  --couleur1: rgb(69, 100, 145);
  --couleur1L: rgb(230, 245, 240);
  --couleur2: rgb(215, 74, 95);
  --couleur2L: rgb(250, 217, 222);
}

body {
  font-family: sans-serif;
}
label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
  margin: 0.5rem;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 50rem;
  color: var(--couleur2);
}
input {
  display: block;
  width: 100px;
  border: none;
  border-radius: 50rem;
  padding: 0.4rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  background: var(--couleur2);
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

main {
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 1rem;
}
#main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 0px solid var(--couleur1);
  border-radius: 50%;
  padding: 10px;
  background-image: linear-gradient(
    to top,
    #e7eff3 0%,
    #f2e7ec 99%,
    #e3eeff 100%
  );
}

.search-button {
  border: 1px solid var(--couleur1);
  background: var(--couleur1);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

#results-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  max-width: 800px;
}

.result {
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.result.boy {
  color: var(--couleur1) !important;
}
.result.girl {
  color: var(--couleur2) !important;
}
